.container{
    width: 100%;
    /* min-height: 100vh; */
    padding: 5%; 
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
}

::placeholder{
    color: rgb(52, 51, 51);
}

.search-bar button img{
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #03203C ;
    cursor: pointer;
}